[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
twine = "*"
redis = "*"
click = "*"
typing-extensions = "*"

[dev-packages]
pytest-subtests = "*"
pytest = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
